*{
    background-color:#0A192F;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px;
    margin: 10%;
    box-shadow: 5px 2px 12px 6px black;
    width: 70%;
    height: 70%;
}
button{
    height: 100%;
    width: 100%;
    color: white;
}
#result{
    grid-column: 1/4;
    color: white;
    font-family: cursive;
    text-align: center;
}
.choice{
    display: flex;
    justify-content: space-around;
    
}
.btn {
   background-color: aqua;
   border: aqua;
   height: 3rem;
   font-size:1.1rem;
   border-radius: 1rem;
   font-family: cursive;
}
.container-btn{
    font-size: 5rem;
    color: aqua;
}
.result{
    color: white;
    text-align: center;
    font-size: 1.9rem;
}