*{
    background-color:#0A192F;
}
body{
    display: grid;
    place-items: center;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px;
    margin: 10%;
    box-shadow: 5px 2px 12px 6px black;
    width: 70%;
    height: 70%;
}
button{
    height: 100%;
    width: 100%;
    color: white;
}
#result{
    grid-column: 1/4;
    color: white;
    font-family: cursive;
    text-align: center;
}
.choice{
    display: flex;
    justify-content: space-around;
    gap: 6rem;
    
}
.btn {
   background-color: aqua;
   border: aqua;
   height: 3rem;
   font-size:1.1rem;
   border-radius: 1rem;
   font-family: cursive;
}
.container-btn{
    font-size: 5rem;
    color: aqua;
}
.result{
    color: white;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 23px ;
}
.result-section{
  opacity: 0;

}
.result{
    color: aqua;
}
.middle-container.show{
   opacity: .04;
}
.result-section.display{
   border: none;
    box-shadow:1px 1px 12px 1000px #bbb5b54f;
    z-index: 1; 
    position: fixed;
    transition: .2s ease;
    opacity: 1;
    border-radius: .5rem;
    top: 40%;
    color: aqua;
}
.delete{
    font-size: 30px;
    width: 60%;
   margin-left: 20%;
   background-color: rgba(0, 255, 255, 0.701);
   border: none;
   border-radius: .6rem;
   font-family: cursive;
  
   
}